# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore all ROMS in roms folder since they must be legally obtained
roms/*
!roms/README.txt

# Don't include certain project files
src/.vs
src/.vs/*

src/Debug
src/Debug/*
src/Release
src/Release/*

src/x64/Debug
src/x64/Debug/*
src/x64/Release
src/x64/Release/*

src/Intel8080/Debug
src/Intel8080/Debug/*
src/Intel8080/Release
src/Intel8080/Release/*

src/Intel8080/x64/Debug
src/Intel8080/x64/Debug/*
src/Intel8080/x64/Release
src/Intel8080/x64/Release/*

src/Intel8080Test/Debug
src/Intel8080Test/Debug/*
src/Intel8080Test/Release
src/Intel8080Test/Release/*

src/Intel8080Test/x64/Debug
src/Intel8080Test/x64/Debug/*
src/Intel8080Test/x64/Release
src/Intel8080Test/x64/Release/*